rootconfig/.terraform/
rootconfig/terraform.tfstate
rootconfig/terraform.tfstate.backup
remotebackend/.terraform/
remotebackend/terraform.tfstate
remotebackend/.terraform/terraform.tfstate
remotebackend/terraform.tfstate.backup
